/**************************/
/* IMPORTS */
/**************************/


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* font-family: 'Space Mono', monospace; */


/**************************/
/* VARIABLES */
/**************************/


:root {


  /* FONTS */

  /* Font-family */
  --main-font-family: 'Space Mono', monospace;

  /* Font-weights */
  --fw-reg: 400;
  --fw-bold: 700;
  

  /* COLORS */

  /* Shared */
  --blue: #0079FF;
  --white: #FFFFFF;

  /* Light Mode */
  --grey: #697C9A;
  --blue-grey: #4B6A9B;
  --dark-grey: #2B3442;
  --logo-black: #222731;
  --light-grey: #F6F8FF;
  --light-grey-white: #FEFEFE;

  /* Dark Mode */
  --dark-blackish-grey: #141D2F;
  --dark-blue-grey: #1E2A47;
  

}


/**************************/
/* STYLES */
/**************************/


/* Box Sizing and Font Size */
html {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/* Body */
body {
  font-family: var(--main-font-family);
  background-color: var(--light-grey);
}


/********** HEADER STYLES *********/


/*Header */
.header {
  height: 2.533333rem;
  width: 21.8rem;
  margin: 2.066667rem auto 2.4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Logo */
.logo {
  font-size: 1.733333rem;
  font-weight: var(--fw-bold);
  line-height: 2.567333rem;
  color: var(--logo-black);
  margin: 0;
}


/* Mode Toggle */
.mode-toggle {
  width: 5.2rem;
  height: 1.333333rem;
  display: flex;
}

/* Toggle Hover State */
.mode-toggle:hover {
  cursor: pointer;
}


/* Dark Header Copy */
.dark-header-copy {
  font-size: 0.866667rem;
  line-height: 1.283333rem;
  letter-spacing: 0.166667rem;
  font-weight: var(--fw-bold);
  color: var(--blue-grey);
  text-transform: uppercase;
  margin: 0 1.066667rem 0 0;
}


/* Moon Icon */
.icon-moon {
  height: 1.333333rem;
  width: 1.333333rem;
  color: var(--blue-grey);
}


/********** SEARCHBAR STYLES *********/


/* Searchbar Container */
.search-bar-container {
  height: 4rem;
  width: 21.8rem;
  background-color: var(--light-grey-white);
  border-radius: 1rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  margin: 0 auto 1.066667rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* Search Icon */
.icon-search {
  height: 1.333333rem;
  width: 1.333333rem;
  /* margin-left: 1.066667rem;
  margin-right: 0.596667rem; */
}


/* User Input */
.user-input {
  width: 12.266667rem;
  padding: 0;
  border: none;
  font-size: 0.866667rem;
  font-weight: var(--fw-reg);
  line-height: 1.666667rem;
  color: var(--blue-grey);
}


/* User Input Hover State */
.user-input:hover {
  cursor: pointer;
}


/* User Input Focus State */
.user-input:focus {
  outline: none;
}


/* Submit Button */
.btn-submit {
  height: 3.066667rem;
  width: 5.6rem;
  border: none;
  margin-right: -0.466667rem;
  border-radius: 0.666667rem;
  padding: 0;
  color: var(--white);
  background-color: var(--blue);
  font-size: 0.933333rem;
  font-weight: var(--fw-bold);
  line-height: 1.4rem;
}


/* Submit Button Hover State */
.btn-submit:hover {
  cursor: pointer;
}


/********** MAIN CONTENT STYLES *********/


/* Main Content */
.main-content {
  width: 21.8rem;
  height: 34.466667rem;
  margin: 0 auto;
  background-color: var(--light-grey-white);
  border-radius: 1rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}


/* USER INFO */


/* User Info Container */
.user-info-container {
  width: 15.533333rem;
  /* height: 4.666667rem; */
  padding-top: 2.133333rem;
  margin-left: 24px;
  margin-bottom: 2.2rem;
  display: flex;
  justify-content: space-between;
}


/* User Avatar */
.user-avatar {
  height: 4.666667rem;
  width: 4.666667rem;
  border-radius: 50%;
  background-color: var(--grey);
  background-size: contain;
}


/* User Info Copy Container */
.user-info-container-copy {
  min-width: 9.6rem;
  height: 4.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Github User Name */
.github-username {
  font-size: 1.066667rem;
  font-weight: var(--fw-bold);
  line-height: 1.6rem;
  color: var(--dark-grey);
  margin: 0;
}


/* Github Login */
.github-login {
  font-size: 0.8666667rem;
  line-height: 1.266667rem;
  font-weight: var(--fw-reg);
  margin: 0;
  color: var(--blue);
}


/* Github Joined Date */
.github-joined {
  font-size: 0.8666667rem;
  line-height: 1.266667rem;
  font-weight: var(--fw-reg);
  margin: 0;
  color: var(--grey);
}


/********** BIO *********/


/* Bio */
.bio {
  width: 18.6rem;
  margin: 0 auto 1.533333rem auto;
}


/* Bio p */
.bio-copy {
  font-size: 0.866667rem;
  font-weight: var(--fw-reg);
  line-height: 1.666667rem;
  word-wrap: normal;
  color: var(--blue-grey);
  margin: 0;
}


/********** USER STATS *********/


/* User Stats Container */
.user-stats {
  width: 18.6rem;
  height: 5.666667rem;
  margin: 0 auto 1.6rem auto;
  border-radius: 0.666667rem;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
}


/* User Stats Inner Container */
.user-stats-inner-container {
  width: 16.666667rem;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}


/* User Stat Container */
.user-stat-container {
  width: 5.266667rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}


/* User Stat */
.user-stat {
  font-size: 0.733333rem;
  font-weight: var(--fw-reg);
  line-height: 1.066667rem;
  color: var(--blue-grey); 
  margin-top: 0;
  margin-bottom: 0.533333rem;
}


/* User Stat Numbers */
.user-stat-numbers {
  font-size: 1.066667rem;
  font-weight: var(--fw-bold);
  line-height: 1.6rem;
  color: var(--dark-grey);
  margin: 0;
}


/********** SOCIAL INFO *********/


/* Social Info Container */
.social-info-container {
  height: 8.466667rem;
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Social Info */
.social-info {
  height: 1.333333rem;
  display: flex;
}


/* Social Icon */
.social-icon {
  margin-right: 1.283333rem;
}

/* Location Icon */
.icon-location {
  padding: 0 0.2rem;
}

/* User Social Info */
.user-social-info {
  font-size: 0.866667rem;
  line-height: 1.266667rem;
  font-weight: var(--fw-reg);
  color: var(--blue-grey);
  margin: 0;
}


/********** DARK MODE STYLES *********/


/* Light Header Copy */
.light-header-copy {
  display: none;
}


/* Sun Icon */
.icon-sun {
  display: none;
}